PORT=3001

DATABASE_URL=postgresql://usuario:contrasena@host/nombre_base_de_datos

JWT_SECRET=clave_secreta_segura
JWT_EXPIRES_IN=8h

SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxx
SENDGRID_FROM=operacionpanito.dev@gmail.com

NODE_ENV=development
